@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Global design tokens  */
:root {
  --brushellaDesktopNav-height: 84px;
  --brushellaMobileNav-height: 88px;
}
/* fonts */
body {  
  font-family: 'Source Sans 3 Variable', sans-serif!important;
  font-weight: 400!important;
}
h1,h2,h3{
  font-family: 'Playfair Display Variable', serif!important;
  font-weight: 600!important;
}
h4,h5,h6, span {
  font-family: 'Source Sans 3 Variable', sans-serif!important;
  font-weight: 500!important;
}
#homepage-slider-1 .swiper-button-prev,
#homepage-slider-1 .swiper-button-next {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.65);
    padding: 1.5rem;
    border-radius: 50%;
  }
#homepage-slider-1 .swiper-button-prev:after,
#homepage-slider-1 .swiper-button-next:after {
  font-size: 1.5rem!important;
  color: #ffffff!important;
  }
#homepage-slider-1 span.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #ffffff;
  opacity: 1;
  background: rgba(0, 0, 0, 0.65);
}
#homepage-slider-1 span.swiper-pagination-bullet-active {
  color: #000000;
  background: #ffffff;
}