/* Styles for all the sliders  */
 .swiper-slide {
  pointer-events: none;     /* not focusable by default */
}

 .swiper-slide.swiper-slide-visible {
  pointer-events: auto;     /* allow interaction only for visible slides */
}

 .swiper-slide:not(.swiper-slide-visible) {
  visibility: hidden;       /* also removes from tab order */
}