name: Test all the things

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      SHOPIFY_ADMIN_PASSWORD: ${{ secrets.SHOPIFY_ADMIN_PASSWORD }}
      SHOPIFY_STORE_URL: ${{ secrets.SHOPIFY_STORE_URL }}
      SHOPIFY_STOREFRONT_PASSWORD: ${{ secrets.SHOPIFY_STOREFRONT_PASSWORD }}
      SHOPIFY_STORE_NAME: ${{ secrets.SHOPIFY_STORE_NAME }}
      REACT_APP_GETFORM_ENDPOINT: ${{ secrets.REACT_APP_GETFORM_ENDPOINT }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "18"
      - name: Install npm packages
        run: npm install
      - name: Run client unit tests
        run: npm run test:unit --watchAll=false
      - name: Run e2e tests
        run: npm run test:e2e:ci
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: cypress-screenshots
          path: ./cypress/screenshots/
